* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background: var(--color-bg);
  color: var(--crystal-text);
  font-family: var(--font-family);
}

a {
  color: unset;
  text-decoration: none;
}

.app {
  display: flex;
}

.app_history {
  flex: 0.15;
}

.app_chat {
  flex: 0.65;
}

.app_result {
  flex: 0.25;
}

.prompt-example {
  padding: 0.5rem;
  border-radius: 10px;
  border: 0.5px solid var(--crystal-text);
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  background: var(--color-bg);
  color: var(--crystal-text);
  cursor: pointer;
  text-align: left;
}

.prompt-example:hover {
  background: var(--color-pink);
}

@media screen and (max-width: 1050px) {
  .app_history {
    flex: 0.25;
  }

  .app_chat {
    flex: 0.5;
  }

  .app_result {
    flex: 0.3;
  }
}
@media screen and (max-width: 650px) {
  .app {
    flex-direction: column;
  }

  .app_history {
    display: none;
  }

  .second-hr {
    display: none;
  }
}
