* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family);
  color: var(--crystal-text);
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.section_padding {
  padding: 2rem 8rem;
}

.section_margin {
  margin: 2rem 8rem;
}

.try-button {
  font-size: 16px;
  line-height: 25px;
  background-color: var(--crystal-text);
  color: var(--color-bg);
  padding: 0.4rem 1rem;
  border: 1px solid var(--crystal-text);
  border-radius: 5px;
  cursor: pointer;
}

.try-button:hover {
  background-color: var(--color-bg);
  color: var(--crystal-text);
}

.req-button {
  font-size: 16px;
  line-height: 25px;
  color: var(--crystal-text);
  background-color: var(--color-bg);
  padding: 0.4rem 1rem;
  border: 1px solid var(--crystal-text);
  border-radius: 5px;
  cursor: pointer;
}

.req-button:hover {
  background-color: var(--crystal-text);
  color: var(--color-bg);
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 1050px) {
  .section_padding {
    padding: 2rem 4rem;
  }

  .section_margin {
    margin: 2rem 4rem;
  }
}
@media screen and (max-width: 700px) {
  .section_padding {
    padding: 2rem;
  }

  .section_margin {
    margin: 2rem;
  }
}

@media screen and (max-width: 550) {
  .section_padding {
    padding: 2rem 2rem;
  }

  .section_margin {
    margin: 2rem 2rem;
  }
}
