a:hover {
  color: var(--color-border);
}

.back {
  padding: 5px 9px 3px 7px;
  background-color: var(--color-grey);
  color: var(--crystal-text);
  border: 1px solid var(--color-grey);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
}

.back:hover {
  cursor: pointer;
}

.jinz__profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 1rem;
  padding: 0.5rem 0 0;
  overflow: auto;
  scroll-behavior: smooth;
  height: 100vh;
}

.jinz__profile::-webkit-scrollbar {
  display: none;
}

.jinz__profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.jinz__profile-header h3 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  padding: 1rem 0;
}

.jinz__profile-header img {
  width: 1.5rem;
}

/* .jinz__profile p, */
.jinz__profile div {
  margin-bottom: 0.5rem;
}

.jinz__profile-text-main {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.jinz__profile-text-secondary {
  font-size: 13px;
  color: var(--color-border);
  font-weight: 600;
}

.jinz__profile-experience,
.jinz__profile-education {
  margin: 1.5rem 0 0;
}

.jinz__profile-experience hr,
.jinz__profile-education hr {
  margin: 0.5rem 0;
}

.jinz__profile-experience-company {
  display: flex;
  flex-direction: column;
}
