.jinz__chat-main img {
  height: 2rem;
  border-radius: 5px;
  margin-right: 1rem;
}

.jinz__chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 99vh;
}

.jinz__chat-header {
  padding: 1rem;
  width: 100%;
  border-bottom: 0.5px solid var(--crystal-text);
}

.jinz__chat-header h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}

.jinz__chat-main {
  padding: 1rem 3rem;
  width: 100%;
  flex-grow: 1;
  overflow: auto;
  scroll-behavior: smooth;
}

.jinz__chat-main::-webkit-scrollbar {
  display: none;
}

.jinz__chat-main__welcome,
.jinz__chat-main__query,
.jinz__chat-main__response {
  margin: 1rem 0;
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  background: var(--color-grey);
  border-radius: 10px;
}

.jinz__chat-main__welcome p,
.jinz__chat-main__query p,
.jinz__chat-main__response p {
  font-size: 14px;
  line-height: 20px;
  color: var(--crystal-text);
}

.jinz__chat-main__response div {
  width: 100%;
}

.jinz__chat-main__response-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0;
  padding: 1rem;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.jinz__chat-main__response-box p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.jinz__chat-main__response-box__text {
  padding: 1rem 2rem;
}

.jinz__chat-main__response-box__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.jinz__chat-main__response-box__buttons button {
  padding: 0.3rem 1rem;
  border: 0.5px solid var(--crystal-text);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.jinz__chat-main__response-box__buttons-query {
  margin-top: 1rem;
  background: var(--color-pink);
  color: var(--crystal-text);
}

.jinz__chat-input {
  height: fit-content;
  width: 100%;
  padding: 1rem 3rem 1.5rem;
}

.jinz__chat-input__field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 1rem;

  border: 1px solid var(--color-pink);
  border-radius: 10px;

  font-size: 20px;

  box-shadow: 0 0 20px var(--color-pink), 0 0 20px var(--color-pink),
    0 0 15px var(--color-pink), 0 0 10px var(--color-pink),
    0 0 5px var(--color-pink);
}

.jinz__chat-input__field:hover {
  border-color: var(--color-border);
}

.jinz__chat-input__field input {
  font-size: 15px;
  line-height: 20px;
  width: 100%;
  background: transparent;
  color: var(--crystal-text);
  border: none;
  margin: 0 1rem;
  flex-wrap: wrap;
  max-lines: 5;
}

.jinz__chat-input__field button {
  background: transparent;
  color: var(--crystal-text);
  border: none;
}

.jinz__chat-input__field input:focus {
  border: none;
  outline: none;
}

@media screen and (max-width: 650px) {
  .jinz__chat {
    height: 92vh;
  }

  .jinz__chat-input {
    height: 13vh;
    padding: 1rem 3rem;
  }
}
